[Unit]
Description=Titanium Cloud Filesystem Auto-mounter
After=network.target nfscommon.service
Before=uexportfs.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/init.d/mountnfs start
ExecStop=/etc/init.d/mountnfs stop

[Install]
WantedBy=multi-user.target
