[Unit]
Description=tgtd iSCSI target daemon
After=network.target

[Service]
Type=forking
ExecStart=/etc/init.d/tgtd start
ExecStop=/etc/init.d/tgtd stop
ExecReload=/etc/init.d/tgtd reload
#RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
