[Unit]
Description=Create and mount encrypted vault using LUKS
After=local-fs.target network-online.target

[Service]
Type=forking
ExecStart=/usr/local/sbin/luks-fs-mgr start
User=root
Group=root
KillMode=process
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
