[Unit]
Description=Titanium Cloud libvirt QEMU cleanup
After=syslog.target network.target logmgmt.service
Before=libvirtd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/init.d/qemu_clean start
ExecStop=/etc/init.d/qemu_clean stop
ExecReload=

[Install]
WantedBy=multi-user.target
