#!/usr/bin/make -f

%:
	dh $@ --buildsystem=golang

override_dh_auto_build:
	GO111MODULE=on go build -mod=vendor -ldflags=-linkmode=external

override_dh_auto_test:
	echo "do nothing"

override_dh_usrlocal:
	echo "do nothing"

override_dh_dwz:
	echo "do nothing"
