[Unit]
Description=Ceph metadata server daemon (MDS)
Documentation=man:ceph-mds
After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target
PartOf=ceph.target

[Service]
LimitNOFILE=1048576
LimitNPROC=1048576
EnvironmentFile=-/etc/default/ceph
Environment=CLUSTER=ceph
ExecStart=/usr/bin/ceph-mds -f --cluster ${CLUSTER} --id %H --setuser ceph --setgroup ceph

[Install]
WantedBy=multi-user.target
