source: makedumpfile
Section: devel
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13), libelf-dev, libdw-dev, libbz2-dev
Standards-Version: 4.5.2
Rules-Requires-Root: no

package: makedumpfile
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This package can make a Linux crash dump smaller by filtering and compressing pages
 This package can make a Linux crash dump smaller by filtering and compressing pages
