[Unit]
Description=Simple Network Management Protocol (SNMP) Daemon.
After=syslog.target network.target

[Service]
Type=notify
Environment=OPTIONS="oamcontroller -u snmpd -Lsd -Lf /dev/null -p /var/run/snmpd.pid"
EnvironmentFile=-/etc/sysconfig/snmpd
ExecStart=/etc/init.d/snmpd start
ExecStop=/etc/init.d/snmpd stop
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
