source: makedumpfile
Section: devel
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
               libbz2-dev,
               libdw-dev (>= 0.141-2ubuntu1),
               libelf-dev,
               liblzo2-dev,
               libz-dev,
	             libzstd-dev
Standards-Version: 4.5.2
Rules-Requires-Root: no

package: makedumpfile
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This package can make a Linux crash dump smaller by filtering and compressing pages
 This package can make a Linux crash dump smaller by filtering and compressing pages
