Source: python3-kubernetes
Section: admin
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
 dh-python,
 flake8,
 python3-setuptools,
 python3-all,
 python3-durationpy,
 python3-cachetools,
 python3-google-auth,
 python3-pyasn1,
 python3-pyasn1-modules,
 python3-requests-oauthlib,
 python3-rsa,
 python3-websocket
Standards-Version: 4.4.1

Package: python3-kubernetes
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Python Kubernetes APIs
  A python3 client library for kubernetes APIs
