#!/usr/bin/make -f
# vim: set expandtab!
# export DH_VERBOSE = 1

export ROOT = debian/tmp
export SBINDIR = $(ROOT)/usr/sbin
export SUDOERDIR = $(ROOT)/etc/sudoers.d

export HELM_VERSION = 3.2.1
export HELM_EXECUTABLE = linux-amd64/helm
export HELM_PKG = helm-v$(HELM_VERSION)-linux-amd64.tar.gz

export HELM_2TO3_VERSION = 0.10.0
export HELM_2TO3_PKG = helm-2to3_$(HELM_2TO3_VERSION).tar.gz

export HELM_MAPKUBEAPIS_VERSION =  0.3.0
export HELM_MAPKUBEAPIS_PKG = helm-mapkubeapis_$(HELM_MAPKUBEAPIS_VERSION).tar.gz

%:
	dh $@

override_dh_auto_build:
	# Extract the third party helm package downloaded in dl_hook.
	tar xfz $(HELM_PKG)
	tar xfz $(HELM_2TO3_PKG)
	tar xfz $(HELM_MAPKUBEAPIS_PKG)

override_dh_auto_install:
	install -d -m 755 $(SBINDIR)
	install -d -m 755 $(ROOT)/usr/local/sbin
	install -p -D -m 755 $(HELM_EXECUTABLE) $(SBINDIR)
	install -p -D -m 755 helm-upload $(ROOT)/usr/local/sbin
	install -p -D -m 755 helmv2-cli.sh $(ROOT)/usr/local/sbin/helmv2-cli
	install -d -m 755 $(SUDOERDIR)
	install -p -D -m 440 helm.sudo $(SUDOERDIR)/helm
	install -d -m 755 $(ROOT)/usr/local/share/helm
	install -d -m 755 $(ROOT)/usr/local/share/helm/plugins
	cp -R 2to3 $(ROOT)/usr/local/share/helm/plugins/
	install -d -m 755 $(ROOT)/usr/local/share/helm/plugins/2to3/bin
	mv $(ROOT)/usr/local/share/helm/plugins/2to3/2to3 $(ROOT)/usr/local/share/helm/plugins/2to3/bin
	cp -R mapkubeapis $(ROOT)/usr/local/share/helm/plugins/

override_dh_usrlocal:
	# Do Nothing
