#!/usr/bin/make -f
# Copyright (c) 2022 Wind River Systems, Inc.
#
# SPDX-License-Identifier: Apache-2.0

#export DH_VERBOSE = 1

DEBIAN_DESTDIR := $(CURDIR)/debian/tmp

%:
	dh $@

override_dh_auto_test:
	echo

override_dh_auto_install:
	echo

override_dh_install:
	install -d ${DEBIAN_DESTDIR}/usr/local/sbin
	install -m 755 k8s-cni-cache-cleanup ${DEBIAN_DESTDIR}/usr/local/sbin/k8s-cni-cache-cleanup
	dh_install

override_dh_usrlocal:
	echo
