[Unit]
Description=Wind River Mellanox port-type configuration scripts
Before=network.target

[Service]
Type=oneshot
User=root
ExecStart=/etc/init.d/mlx4-configure.sh start
ExecStop=/etc/init.d/mlx4-configure.sh stop

[Install]
WantedBy=multi-user.target
