#!/usr/bin/make -f

DEBIAN_DESTDIR := $(CURDIR)/debian/tmp

%:
	dh $@

override_dh_auto_build:
	$(MAKE) LDFLAGS="-pie -Wl,-z,relro,-z,now,-z,noexecstack -lgps -lcjson"

override_dh_auto_install:
	install -d -m 755 $(DEBIAN_DESTDIR)/usr/bin
	install -p -D -m 755 dpll_mgr $(DEBIAN_DESTDIR)/usr/bin/dpll-mgr
	install -d -m 755 $(DEBIAN_DESTDIR)/etc/dpll-mgr
	install -p -D -m 644 config/dpll_mgr.conf.sample $(DEBIAN_DESTDIR)/etc/dpll-mgr/dpll_mgr.conf.sample
	dh_install
