Source: puppet-module-uol-host6
Section: admin
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.4.1
Homepage: https://www.starlingx.io

Package: puppet-module-uol-host6
Architecture: any
Description: Puppet module named puppet-module-uol-host6
  This module manages IPv4 and IPv6 entries in /etc/hosts like the resource host from Puppetlabs.
  This module is derived from the host resource from within puppet. Use like the resource host, but is keyed on IP.
