[Unit]
Description=Titanium Cloud Filesystem Initialization
After=network.target nfscommon.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/init.d/uexportfs start
ExecStop=/etc/init.d/uexportfs stop

[Install]
WantedBy=multi-user.target
