[Unit]
Description=Control drbd resources.
After=network.target sshd.service

[Service]
Type=forking
Restart=no
KillMode=process
RemainAfterExit=yes
ExecStart=/etc/rc.d/init.d/drbd start
ExecStop=/etc/rc.d/init.d/drbd stop
ExecReload=/etc/rc.d/init.d/drbd reload
TimeoutSec=5min

[Install]
WantedBy=multi-user.target

