#!/usr/bin/make -f

export DH_GOLANG_GO_GENERATE := 0

%:
	dh $@ --buildsystem=golang --with=golang --builddirectory=_build

# There is a script named "build" in the upstream source.
# So let us be explicit about the .PHONY target here to avoid conflicts.
build:
	dh build --buildsystem=golang --with=golang --builddirectory=_build

.PHONY: build
