#!/usr/bin/make -f

export ROOT = debian/armada
export APP_FOLDER = $(ROOT)/opt/extracharts
export CHARTS_STAGING = charts
export APP_NAME = armada
export APP_NAME_FULL = $(CHARTS_STAGING)/$(APP_NAME)

%:
	dh $@

override_dh_auto_build:
	# Host a server for the charts
	cp /usr/lib/helm/armada-helm-toolkit-0.1.0.tgz ./charts

	chartmuseum --debug --port=8879 --context-path='/charts' --storage="local" --storage-local-rootdir="./charts" &
	sleep 2
	helm repo add local http://localhost:8879/charts

	helm dependency update $(APP_NAME_FULL)
	helm lint $(APP_NAME_FULL)
	rm -v -f ./requirements.lock ./requirements.yaml
	helm template --set pod.resources.enabled=true $(APP_NAME_FULL)
	helm package $(APP_NAME_FULL)

	pkill chartmuseum


override_dh_auto_install:
	# Install the app tar file.
	install -d -m 755 $(APP_FOLDER)
	install -p -D -m 755 armada-0.1.0.tgz $(APP_FOLDER)
