Source: systemd-presets
Section: admin
Priority: optional
Maintainer: Starlingx Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.4.1
Homepage: https://www.starlingx.io

Package: systemd-presets
Architecture: all
Depends:
 ${misc:Depends}
Description: System Profiles
 Install system preset based on system type.
