#!/usr/bin/make -f
#
# Copyright (c) 2022 Wind River Systems, Inc.
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements. The ASF licenses this
# file to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#

#export DH_VERBOSE = 1

DEBIAN_DESTDIR := $(CURDIR)/debian/tmp

%:
	dh $@

override_dh_auto_build:
	sed -i "s/#VERSION_STRING#/23.03/g" config_app.c
	make -j6 "INSTALL=install --strip-program=true"

override_dh_install:
	install -d -m 755 ${DEBIAN_DESTDIR}/usr/bin
	install -d -m 755 ${DEBIAN_DESTDIR}/usr/share/pf-bb-config/acc100
	install -d -m 755 ${DEBIAN_DESTDIR}/usr/share/pf-bb-config/vrb1
	install -d -m 755 ${DEBIAN_DESTDIR}/usr/share/pf-bb-config/fpga_5gnr
	install -p -D -m 700 pf_bb_config ${DEBIAN_DESTDIR}/usr/bin/pf_bb_config
	install -p -D -m 600 acc100/acc100_config_1vf_4g5g.cfg ${DEBIAN_DESTDIR}/usr/share/pf-bb-config/acc100/acc100_config_1vf_4g5g.cfg
	install -p -D -m 600 acc100/acc100_config_vf_5g.cfg ${DEBIAN_DESTDIR}/usr/share/pf-bb-config/acc100/acc100_config_vf_5g.cfg
	install -p -D -m 600 vrb1/vrb1_config_vf_5g.cfg ${DEBIAN_DESTDIR}/usr/share/pf-bb-config/vrb1/vrb1_config_vf_5g.cfg
	install -p -D -m 600 vrb1/vrb1_config_1vf_5g.cfg ${DEBIAN_DESTDIR}/usr/share/pf-bb-config/vrb1/vrb1_config_1vf_5g.cfg
	install -p -D -m 600 vrb1/srs_fft_windows_coefficient.bin ${DEBIAN_DESTDIR}/usr/share/pf-bb-config/vrb1/srs_fft_windows_coefficient.bin
	install -p -D -m 600 fpga_5gnr/fpga_5gnr_config_1vf.cfg ${DEBIAN_DESTDIR}/usr/share/pf-bb-config/fpga_5gnr/fpga_5gnr_config_1vf.cfg
	install -p -D -m 644 README.md ${DEBIAN_DESTDIR}/usr/share/pf-bb-config/README.md
	dh_install
