Source: armada-helm-toolkit
Section: admin
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13), helm, chartmuseum, procps
Standards-Version: 4.4.1
Homepage: https://www.starlingx.io

Package: armada-helm-toolkit
Architecture: any
Depends:  ${misc:Depends}, ${shlibs:Depends}
Description: Openstack-Helm-Infra helm-toolkit chart.
 helm-toolkit used in building armada.
