#!/usr/bin/make -f

export ROOT = debian/armada-helm-toolkit
export APP_FOLDER = $(ROOT)/usr/lib/helm
export APP_NAME = armada-helm-toolkit

%:
	dh $@

override_dh_auto_build:
	# Host a server for the charts
	chartmuseum --debug --port=8879 --context-path='/charts' --storage="local" --storage-local-rootdir="." &
	sleep 2
	helm repo add local http://localhost:8879/charts
	# Make the charts. These produce tgz files
	make helm-toolkit
	pkill chartmuseum


override_dh_auto_install:
	# Install the app tar file.
	install -d -m 755 $(APP_FOLDER)
	install -p -D -m 755 helm-toolkit-0.1.0.tgz $(APP_FOLDER)/armada-helm-toolkit-0.1.0.tgz
