[Unit]
Description=Remove stale shadow lockfiles
After=local-fs.target systemd-tmpfiles-setup.service
Before=sysinit.target shutdown.target

[Service]
Type=simple
ExecStart=/usr/bin/rm -f /etc/gshadow.lock /etc/shadow.lock /etc/passwd.lock /etc/group.lock

[Install]
WantedBy=multi-user.target
