Source: crane
Section: admin
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.4.1
Homepage: https://github.com/google/go-containerregistry/blob/main/cmd/crane/

Package: crane
Architecture: amd64
Description: Crane is a tool for interacting with remote images and registries.
