#!/usr/bin/make -f
export DH_VERBOSE = 1

BINDIR = $(ROOT)/usr/local/bin
TARBALL = go-containerregistry_Linux_x86_64.tar.gz
CRANE_EXECUTABLE = crane

%:
	dh $@

override_dh_auto_build:
	# Extract the third party go-containerregistry package downloaded in dl_hook.
	tar xfz $(TARBALL)

override_dh_auto_install:
	install -d -m 755 $(BINDIR)
	install -p -D -m 755 $(CRANE_EXECUTABLE) $(BINDIR)

override_dh_usrlocal:
	# Do Nothing
