Source: centos-debian-compat
Section: admin
Priority: optional
Maintainer: Starlingx Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.4.1
Homepage: https://www.starlingx.io

Package: centos-debian-compat
Architecture: all
Depends:
 ${misc:Depends}
Description: General compatibility adjustments
 Directs from "/etc/init.d/functions" to "/lib/lsb/init-functions".
