#!/usr/bin/make -f

DEBIAN_DESTDIR := $(CURDIR)/debian/tmp
INSTALL_DIR := $(DEBIAN_DESTDIR)/opt/stx-ansible-compat/26.03
PYTHON := $(CURDIR)/bin/python3.9
DOWNLOADS := $(CURDIR)

%:
	dh $@

override_dh_auto_build:
	$(PYTHON) -m pip install --no-index --find-links=$(DOWNLOADS) \
		ansible==2.10.7 \
		netaddr==1.3.0 \
		jmespath==1.1.0

override_dh_auto_install:
	install -d -m 755 $(INSTALL_DIR)
	cp -a bin lib include share $(INSTALL_DIR)/
	sed -i '1s|.*|#!/opt/stx-ansible-compat/26.03/bin/python3.9|' $(INSTALL_DIR)/bin/ansible*

override_dh_shlibdeps:
	true

override_dh_strip:
	true

override_dh_dwz:
	true
