[Unit]
Description=Titanium Cloud opt-platform mounter
After=sw-patch.service

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/nfs-mount controller-platform-nfs:/opt/platform /opt/platform
ExecStop=/usr/bin/umount /opt/platform
RemainAfterExit=yes
StandardOutput=syslog+console
StandardError=syslog+console

[Install]
WantedBy=multi-user.target
