Source: redfishtool
Section: admin
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
 dh-python,
 python3-all,
 python3-setuptools,
 python3-wheel,
Standards-Version: 4.1.2
Homepage: https://www.starlingx.io

Package: redfishtool
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
Description: Access BMC Redfish service
 Provides command line interface to Board Management Controllers
 that support the Redfish protocol.
 This is the python3 version of the package.
